html {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #edcfb2;
    background-color: #29231e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
}

body {
    padding: 0px;
    margin: 0px;
}

p {
    font-family: 'Roboto Slab', serif;
}

a:link {
    text-decoration: none;
    color: #edcfb2;
}

a:visited {
    color: #edcfb2;
}

a:hover {
    color: #c2a991 !important;
}

a:active {
    color: #edcfb2;
}

.menu__top {
    height: 15vh;
    width: 100%;
}

.left__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
}

.right__menu {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30vw;
}

.collapse {
    display: flex;
    align-content: center;
    text-align: center;
}

.navbar {
    margin: 0px !important;
    padding: 0px !important;
}

.logo {
    padding-left: 2vw;
    height: 12vh;
}

.nav-item {
    margin: 2vw;
}

.left__content:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 20px solid white;
    border-radius: 10px;
  }

.left__content {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 85vh;
    display: inline-block;
    border-right: 20px solid #29231e;
    transform: skewX(-20deg);
    overflow: hidden;
    left: -10%;
}

.right__content {
    height: 85vh;
    width: 100vw;
    content:" "; background:url('../img/BestBarber.png') brown;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 50%;
    max-height: 100%;
}